<h3>My Canvas Component</h3>
<canvas class="my-canvas" height=480 width=640></canvas>
{{yield}}
<div class='controls-container'>
  <h1>Controls</h1>
  <button {{action doSomething}}>do something</button>
</div>
